@model IEnumerable<prjRemenSuperMarket.ViewModel.CSalesInfo>

@{
    ViewData["Title"] = "List";
}

<h1>產品列表</h1>

<p>
    <a asp-action="ViewCart">檢視購物車</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalesInfoIdPk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Counts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesStates)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ string discount;
            foreach (var item in Model)
            {
                discount = item.Discount * 100 + "%";
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesInfoIdPk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GoodName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Counts)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @discount
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesStates)
                    </td>
                    <td>
                        @Html.ActionLink("加入購物車", "AddToCart", new { id = item.SalesInfoIdPk })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>